{{- define "widget_recent_comments" -}}
{{$title := widget_option "title" | default (.t.T "近期评论")}}
{{$n := widget_option "count" | toInt | default 5}}
<section class="widget widget-recent-comments">
  <h3>{{$title}}</h3>
  <ul>
    {{range $i, $item := .RecentCommentItems}}{{if lt $i $n}}
    <li>
      <img class="avatar" src="{{avatarURL $item.Comment.Email $.DefaultAvatar}}" alt="" width="24" height="24">
      <div class="widget-comment-content">
        <div class="widget-comment-line">
          <a href="{{$item.CommentURL}}">{{$item.Snippet}}</a>
        </div>
        <div class="widget-comment-meta">
          {{if $item.AuthorURL}}
          {{$author := printf "<a href=\"%s\" target=\"_blank\" rel=\"nofollow noopener\">%s</a>" (escapeHTML $item.AuthorURL) (escapeHTML $item.Comment.Author)}}
          {{$postAnchor := printf "<a href=\"%s\">%s</a>" (escapeHTML $item.CommentURL) (escapeHTML $item.Post.Title)}}
          {{safeHTML ($.t.T "%[1]s 发表在 %[2]s" $author $postAnchor)}}
          {{else}}
          {{$author := escapeHTML $item.Comment.Author}}
          {{$postAnchor := printf "<a href=\"%s\">%s</a>" (escapeHTML $item.CommentURL) (escapeHTML $item.Post.Title)}}
          {{safeHTML ($.t.T "%[1]s 发表在 %[2]s" $author $postAnchor)}}
          {{end}}
        </div>
      </div>
    </li>
    {{end}}{{end}}
  </ul>
</section>
{{- end}}
