{{define "widget_search"}}
<section class="widget widget-search">
  <h3>{{.t.T "搜索"}}</h3>
  <form method="get" action="/search">
    <input type="search" name="q" placeholder="{{.t.T "输入关键词…"}}" value="{{.Keyword}}">
    <button type="submit">{{.t.T "搜索"}}</button>
  </form>
</section>
{{end}}
