{{define "pagination"}}
{{with .Pager}}
{{if gt .Pages 1}}
<nav class="pagination wide-shell">
  {{if gt .Page 1}}<a href="{{.BaseURL}}{{if gt (sub .Page 1) 1}}{{.Sep}}page={{sub .Page 1}}{{end}}">{{$.th.T "上一页"}}</a>{{end}}
  <span class="page-info">{{.Page}} / {{.Pages}}</span>
  {{if lt .Page .Pages}}<a href="{{.BaseURL}}{{.Sep}}page={{add .Page 1}}">{{$.th.T "下一页"}}</a>{{end}}
</nav>
{{end}}
{{end}}
{{end}}
