{{define "widget_popular_posts"}}
{{$title := widgetOption "title" | default (.th.T "最热文章")}}
{{$n := widgetOption "count" | toInt | default 5}}
{{$popular := themeInvoke "popular_posts" "n" $n}}
<section class="widget widget-popular-posts">
  <h3>{{$title}}</h3>
  <ul>
    {{if $popular}}
    {{range $popular}}<li><a href="{{postURL .}}">{{.Title}}</a></li>{{end}}
    {{else}}
    {{range $i, $p := .RecentPosts}}{{if lt $i $n}}<li><a href="{{postURL $p}}">{{$p.Title}}</a></li>{{end}}{{end}}
    {{end}}
  </ul>
</section>
{{end}}
