{{define "widget_saying"}}
{{$title := widgetOption "title" | default (.th.T "博主动态")}}
{{$postID := widgetOption "post_id" | toInt}}
{{$saying := themeInvoke "saying" "n" 5 "post_id" $postID}}
{{if $saying}}
<section class="widget widget-saying">
  <h3>{{$title}}</h3>
  {{if $saying}}
  <div class="widget-saying-author">
    <img class="avatar" src="{{avatarURL (index $saying 0).AuthorEmail .DefaultAvatar}}" alt="" width="32" height="32">
    <span>{{(index $saying 0).AuthorName}}</span>
  </div>
  {{end}}
  <ul>
    {{range $saying}}
    <li><div class="widget-comment-line"><a href="{{.CommentURL}}">{{.Snippet}}</a></div></li>
    {{end}}
  </ul>
</section>
{{end}}
{{end}}
